<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Laboratorio 1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript">
        //Configura una aplicación de Angular JS.
        var miApp = angular.module('lab01', []);

        //Configura un controlador para tu aplicación.
        miApp.controller('lab01Controlador', ['$scope', function ($scope) {
            $scope.n1 = 0;
            $scope.n2 = 0;
            $scope.suma = function () {
                return parseInt($scope.n1) + parseInt($scope.n2);
            }
        }]);
    </script>
</head>
<body ng-app="lab01">
    <div ng-controller="lab01Controlador">
        <h1>Calculos Automáticos</h1>
        <label>Número 1</label>
        <input ng-model="n1" />
        <br />
        <br />
        <label>Número 2</label>
        <input ng-model="n2" />
        <br />
        <br />
        <h4>Resultados</h4>
        <p>La suma de {{n1}} con {{n2}} da un resultado de {{suma()}}</p>
        <p>La resta de {{n1}} con {{n2}} da un resultado de {{n1 - n2}}</p>
        <p>La multiplicación de {{n1}} con {{n2}} da un resultado de {{n1 * n2}}</p>
        <p>La división de {{n1}} con {{n2}} da un resultado de {{n1 / n2}}</p>
    </div>
</body>
</html>