<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Modulo 8 - Acceso a datos remoto con Angular JS</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>    
    <script type="text/javascript">
        var miApp = angular.module('miAplicacion', []);

        var miController = miApp.controller('miControlador', ['$scope', '$http', function ($scope, $http) {
            $scope.paises = '';
            $scope.url = '';
            
            $scope.buscaEnRegion = function () {
                if ($scope.url == '') return;

                $http.get($scope.url).success(function (respuesta) {
                    $scope.paises = respuesta;
                });
            }
        }]);
    </script>    
</head>
<body ng-app="miAplicacion">
    <div class="container" ng-controller="miControlador">
        <br />
        <br />
        <div class="row">
            <div class="col-lg-3"> </div>
            <div class="col-lg-6 text-center"> 
                <div class="from-group">
                    <label>Región</label>
                    <select class="form-control" ng-model="url" ng-change="buscaEnRegion()">
                        <option value="">Seleccione una Región </option>
                        <option value="http://restcountries.eu/rest/v1/region/africa">Africa</option>
                        <option value="http://restcountries.eu/rest/v1/region/europe">Europa</option>
                        <option value="http://restcountries.eu/rest/v1/region/americas">America</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3"> </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2"> </div>
            <div class="col-lg-8 text-center">
                <span ng-repeat="pais in paises">
                    <b>País:</b> {{pais.name}}  <b>Capital:</b> {{pais.capital}} <br />
                </span>
            </div>
            <div class="col-lg-2"> </div>
        </div>
    </div>
</body>
</html>